
h1{
    text-align: center;
}

.container{
    display: inline-block;
    padding: 50px;
    margin: 20px;
    text-align: center;
    border: 1px solid;
}


.container .imagen{
    width: 50%;
    max-width: 350px;
}


.imagen{
    height: auto;
    width: 100%;
}
