*{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    text-align: center;
}

/* .container{
    display: inline-block;
    padding: 50px;
    margin: 20px;
    text-align: center;
    border: 1px solid;
}


.container .imagen{
    width: 50%;
    max-width: 350px;
} */


.imgInicio{
    margin: 0 auto;
    height: auto;
    width: 100%;
    display: block;
}


.divImg{
    text-align: center;
}

h1{
    margin: 0;
    font-size: 8rem;
    text-align: center;
}

.storm{
    background-image: url('/images/yellow.gif');
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/*Header*/
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logoNav {
    width: 50px;
    height: 50px;
    display: inline-block;
    width: 30%;
    height: auto;
    vertical-align: middle;
}

h2 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}


nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/*Footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* width: 100%;
    position: relative;
    bottom: 0; */
}

/* .footer{
    margin: 0;
    font-size: 4em;
    text-align: center;
} */

footer h3 {
    margin: 10px 0;
}


footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
